<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEV ID</title>
</head>
<body>
    <h1>DEV #<%= dev.id %></h1>
    <h3><%= dev.dev %></h3>
    <h3>Complete: <%= dev.done ? 'YES' : 'NO' %></h3>
    <a href="/devs/<%= dev.id %>/edit">Edit Skill</a><br>
    <a href="/devs">Go Back</a>
</body>
</html>